
<div class="container my-5">

    
    
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #929fba"
            
          
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Proyecto Final
              </h6>
              <p>
                Página Web creada para presentar el proyecto final del Curso Programación con Python dictado por Cilsa ONG de Agosto a Noviembre 2023 del Grupo N°1
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Mi Página</h6>
              <p>
                <a class="text-white" href="/">Página Principal</a>
              </p>
              <p>
                <a class="text-white" href="{{ url_for('proyecto') }}">Proyecto</a>
              </p>
               
              <p>
                <a class="text-white" href="{{ url_for('integrantes') }}">Miembros del Grupo</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold"><a href="{{ url_for('contacto') }}">Contacto</a></h6>
              <p><i class="fas fa-home mr-3"  href="{{ url_for('contacto') }}"></i>liriaolivera20@gmail.com</p>
              <p><i class="fas fa-envelope mr-3"  href="{{ url_for('contacto') }}"></i> brendayohenatanoni@gmail.com</p>
              <p><i class="fas fa-phone mr-3"  href="{{ url_for('contacto') }}"></i>kerosene.group@gmail.com</p>
              
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Repositorio</h6>
              <a href="https://github.com/tanonibrenda/cilsaProyecto.git">GitHub</a>
  
             
  
            
              
            </div>
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2023 Copyright:
        
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <style>
      footer a {
          text-decoration: none;
          color: white;
      }
  </style>
  </div>
  <!-- End of .container -->