{% include '/cabecera.html' %}
  <main>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 text-center">
          <h1 class="display-5 fw-bold">Curso Introducción a Python</h1>
          <h2>CILSA</h2>
          <h4>2023</h4>
          <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
          <button class="btn btn-primary btn-lg" type="button">Botón</button>
        </div>
      </div>
      <div class="cilsa_logo">
        <img src="../../image/logo_cilsa.png">
      </div>


  </main>
  {% include 'sitio/footer.html' %}
  