<!doctype html>
<html lang="en">

<head>
  <title>Grupo1</title>
  
 

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
    {% include 'partials/navbar.html' %}
  </header>
  <main>
    <div class="container">
    <div>  
    <h1>Miembros del Grupo</h1>
    </div>
    <div>
    <h3>Liria Olivera</h3>
    <p>📨liriaolivera20@gmail.com</p>
    <p>📞+54 9 3755 73-8014</p>
    </div>
    <div>
    <h3>Brenda Yohena Tanoni</h3>
    
    <p>📨brendayohenatanoni@gmail.com</p>
    <p>📞+ 5491157256883</p>
    </div>
    <div>
    <h3>Daryl Seán Magro</h3>
    <p>📨kerosene.group@gmail.com</p>
    <p>📞+54 9 221 559-9963</p>
    </div>
    </div>
  </main>
  <footer>
    {% include 'partials/footer.html' %}
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>